body{
    background-color: aquamarine;
}

.container{
    background-color: rgb(21, 247, 190);
    max-width: 400px;
    border-radius: 10%;
}
.filtered{
    display: none !important;
}
.this{
    margin-bottom: 15px;
}